<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Student Registration Form</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Student Registration Portal", "Index", "StudentRegistration", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("All Students", "Index", "StudentRegistration")</li>
                    <li>@Html.ActionLink("Add New", "Create", "StudentRegistration")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
    $(document).ready(function () {
        $('#ddlStates').change(function () {
            var stateId = $(this).val();
            $.get('/StudentRegistration/GetCities', { stateId: stateId }, function (data) {
                var cityDropdown = $('#ddlCities');
                cityDropdown.empty().append('<option value="">--Select City--</option>');
                $.each(data, function (i, city) {
                    cityDropdown.append(`<option value="${city.Id}">${city.Name}</option>`);
                });
            });
        });
    });
    </script>
</body>
</html>
